

.cont-card{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content:space-around;
    padding: 10px;
    margin: 0;
    
}

.card{
    background-color: #7F8BDD;
    height: 200px;
    width: 250px;
    margin: 5px;
    padding: 1px;
    border:1px solid transparent;
    border-radius: 10px;
    box-shadow: 0.1em 0.5em 0.3em black;
}

.card-img{
    height: 90px;
    width: 120px; 
    margin: 1px;
    padding: 3px;
    box-shadow: 0.1em 0.5em 0.3em black;
}

h4 {
    font-family: 'Tourney', cursive;
    font-size: 1.2em;
    border-color: red;
    color: #451C68  ;
    margin: 2px;
    padding: 1px;  
}

p {
    font-family: 'Rationale', sans-serif;
    font-size: 0.9em;
    margin: 12px;
    padding: 1px;  
    color: black;
}