.cont-img{

}

.img-land{
    width: 100%;
    height: 100%;

}

.button_home{
    display: block;
    position:absolute;
    width: 150px;
    height: 100px;
    font-size:larger;

}

.button_home:hover{
    color: blue;
}