.container {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    margin-top: 27px;
  
  }
  .btn {
    background-color:#451C68 ;
    color: #E4D4F2 ;
    padding-top: 1px;
    text-shadow: 0.1em 0.2em 0.3em black;
    cursor: pointer;
    text-align: center;
    padding: 8px 24px;
    border-radius: 8px;
    transition-duration: 0.4s;
    font-family: 'Rationale', sans-serif;
    font-size: 1em;
    box-shadow: 0.1em 0.2em 0.3em black;
  }
  .btn:hover {
    background-color:#C696F0;
    color: black; 
  }
  .sbinput{
    border: 2px solid black;
    box-shadow: 0.1em 0.2em 0.3em black;
    margin-right: 1px;
    font-family: 'Rationale', sans-serif;
    font-size: 1em;
    
  }